### Project Specific
# Files
.phpunit.result.cache
npm-debug.log
versions.ini
yarn-error.log

# Directories
/build
/node_modules
/vendor

### Editor Specific
# Files
nodue.sublime-project
nodue.sublime-workspace

# Directories
.idea
.vscode

### System Specific
# Files
.DS_Store
Thumbs.db

# Directories
__MACOSX
